In [1]:
import itertools
import time
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

%matplotlib inline
plt.style.use('ggplot')

In [2]:
dataset = pd.read_csv("C:/Users/pc/Desktop/Mini 2/Linear Modelling/fulltrain.csv")

In [3]:
def press_statistic(y_true, y_pred, xs):
    res = y_pred - y_true
    hat = xs.dot(np.linalg.pinv(xs))
    den = (1 - np.diagonal(hat))
    sqr = np.square(res/den)
    return sqr.sum()

In [4]:
def fit_linear_reg(X,Y):
    #Fit linear regression model and return RSS and R squared values
    model_k = linear_model.LinearRegression(fit_intercept = True)
    model_k.fit(X,Y)
    RSS = mean_squared_error(Y,model_k.predict(X)) * len(Y)
    R_squared = model_k.score(X,Y)
    PRESS = press_statistic(Y,model_k.predict(X),X)
    return RSS, R_squared, PRESS

In [5]:
# # to calculate MSE for whole variables
# Y_whole = dataset["life_expectancy"]
# X_whole = dataset.drop(columns = "life_expectancy", axis = 1)
# tmp_result_whole = fit_linear_reg(X_whole,Y_whole)
# MSE = tmp_result_whole[0]/len(Y_whole)

In [6]:
#Importing tqdm for the progress bar
from tqdm import trange, tqdm_notebook

#Initialization variables
Y = dataset["life_expectancy"]
X = dataset.drop(columns = "life_expectancy", axis = 1)
k = 19 #number of total original margin
RSS_list, R_squared_list, PRESS_list, feature_list = [],[],[],[]
numb_features = []

#Looping over k = 12 to k = 15 features in X
for k in trange(10,13, desc = 'Loop...'):
    #Looping over all possible combinations: from 19 choose k
    for combo in itertools.combinations(X.columns,k):
        tmp_result = fit_linear_reg(X[list(combo)],Y)   #Store temp result 
        RSS_list.append(tmp_result[0])                  #Append lists
        R_squared_list.append(tmp_result[1])
        PRESS_list.append(tmp_result[2])
        feature_list.append(combo)
        numb_features.append(len(combo))   

#Store in DataFrame
df = pd.DataFrame({'numb_features': numb_features,'RSS': RSS_list, 'R_squared':R_squared_list,'features':feature_list,'PRESS':PRESS_list})
df.head(3)

Loop...: 100%|██████████| 3/3 [46:11<00:00, 968.28s/it]

,numb_features,RSS,R_squared,features,PRESS
0,10,27892.048475,0.682734,"(status, adult_mortality, infant_deaths, alcoh...",28413.043728
1,10,28270.256327,0.678432,"(status, adult_mortality, infant_deaths, alcoh...",28810.969741
2,10,27588.738814,0.686184,"(status, adult_mortality, infant_deaths, alcoh...",28114.820497

In [72]:
# to calculate MSE for whole variables
Y_whole = dataset["life_expectancy"]
X_whole = dataset.drop(columns = "life_expectancy", axis = 1)
tmp_result_whole = fit_linear_reg(X_whole,Y_whole)
MSE = tmp_result_whole[0]/len(Y_whole)

In [73]:
#Initializing useful variables
m = len(Y)
#p = 19
#hat_sigma_squared = (1/(m - p -1)) * min(df['RSS'])

#Computing
df['C_p'] = df['RSS']/MSE - m+2*(df['numb_features']) # formular from Wiki
df['AIC'] = m*np.log(df['RSS']/m)+2*df['numb_features']
df['R_squared_adj'] = 1 - ( (1 - df['R_squared'])*(m-1)/(m-df['numb_features'] -1))
df

,numb_features,RSS,R_squared,features,PRESS,C_p,AIC,R_squared_adj
0,10,27892.048475,0.682734,"(status, adult_mortality, infant_deaths, alcoh...",28413.043728,1056.281650,3695.614031,0.679958
1,10,28270.256327,0.678432,"(status, adult_mortality, infant_deaths, alcoh...",28810.969741,1085.981215,3711.156786,0.675618
2,10,27588.738814,0.686184,"(status, adult_mortality, infant_deaths, alcoh...",28114.820497,1032.463622,3682.996228,0.683438
3,10,21970.801532,0.750087,"(status, adult_mortality, infant_deaths, alcoh...",22469.608982,591.303305,3420.238152,0.747900
4,10,28164.706694,0.679632,"(status, adult_mortality, infant_deaths, alcoh...",28655.602122,1077.692709,3706.840156,0.676830
5,10,28269.530269,0.678440,"(status, adult_mortality, infant_deaths, alcoh...",28798.125614,1085.924200,3711.127147,0.675627
6,10,27647.301627,0.685518,"(status, adult_mortality, infant_deaths, alcoh...",28168.951384,1037.062390,3685.443235,0.682766
7,10,27775.175817,0.684063,"(status, adult_mortality, infant_deaths, alcoh...",28299.300462,1047.103979,3690.768406,0.681299
8,10,23056.707605,0.737735,"(status, adult_mortality, infant_deaths, alcoh...",23472.650795,676.576359,3475.909836,0.735440
9,10,22396.915594,0.745240,"(status, adult_mortality, infant_deaths, alcoh...",22772.110232,624.764806,3442.405204,0.743011
10,10,29354.756134,0.666096,"(status, adult_mortality, infant_deaths, alcoh...",29892.522479,1171.143839,3754.598358,0.663175
11,10,28724.621835,0.673264,"(status, adult_mortality, infant_deaths, alcoh...",29247.985759,1121.661220,3729.556646,0.670405
12,10,22969.728827,0.738724,"(status, adult_mortality, infant_deaths, alcoh...",23490.276052,669.746168,3471.548272,0.736438
13,10,29241.093169,0.667389,"(status, adult_mortality, infant_deaths, alcoh...",29733.327591,1162.218216,3750.121343,0.664479
14,10,29137.271317,0.668570,"(status, adult_mortality, infant_deaths, alcoh...",29659.932029,1154.065387,3746.016722,0.665670
15,10,28671.505240,0.673868,"(status, adult_mortality, infant_deaths, alcoh...",29189.323001,1117.490128,3727.420733,0.671014
16,10,28922.795110,0.671009,"(status, adult_mortality, infant_deaths, alcoh...",29442.271163,1137.223193,3737.490839,0.668131
17,10,23710.418599,0.730299,"(status, adult_mortality, infant_deaths, alcoh...",24150.577109,727.910387,3508.173166,0.727939
18,10,23159.228789,0.736569,"(status, adult_mortality, infant_deaths, alcoh...",23544.178740,684.627050,3481.029699,0.734264
19,10,28896.227341,0.671312,"(status, adult_mortality, infant_deaths, alcoh...",29436.691944,1135.136903,3736.430316,0.668436
20,10,23557.990393,0.732033,"(status, adult_mortality, infant_deaths, alcoh...",24120.914548,715.940642,3500.730447,0.729688
21,10,29845.316294,0.660516,"(status, adult_mortality, infant_deaths, alcoh...",30369.410787,1209.666105,3773.723989,0.657546
22,10,29695.866036,0.662216,"(status, adult_mortality, infant_deaths, alcoh...",30258.520501,1197.930210,3767.930824,0.659261
23,10,29412.286700,0.665441,"(status, adult_mortality, infant_deaths, alcoh...",29970.371483,1175.661547,3756.857797,0.662514
24,10,29623.705668,0.663037,"(status, adult_mortality, infant_deaths, alcoh...",30181.437028,1192.263665,3765.123214,0.660089
25,10,24020.531881,0.726772,"(status, adult_mortality, infant_deaths, alcoh...",24480.342254,752.262683,3523.168709,0.724381
26,10,23294.611468,0.735029,"(status, adult_mortality, infant_deaths, alcoh...",23686.190956,695.258259,3487.756035,0.732711
27,10,22685.462297,0.741958,"(status, adult_mortality, infant_deaths, alcoh...",23200.710968,647.423542,3457.177603,0.739700
28,10,28760.693445,0.672853,"(status, adult_mortality, infant_deaths, alcoh...",29258.994105,1124.493819,3731.004899,0.669991
29,10,28719.819952,0.673318,"(status, adult_mortality, infant_deaths, alcoh...",29249.315780,1121.284142,3729.363716,0.670460
...,...,...,...,...,...,...,...,...
218318,12,34720.918387,0.605057,"(hepatitis_b, measles, under-five_deaths, poli...",35694.329836,1596.532993,3952.340831,0.600903
218319,12,19546.971473,0.777657,"(hepatitis_b, measles, under-five_deaths, poli...",20138.607309,404.966962,3289.342468,0.775319
218320,12,19556.947906,0.777544,"(hepatitis_b, measles, under-five_deaths, poli...",20143.559257,405.750383,3289.931300,0.775204
218321,12,19625.887214,0.776760,"(hepatitis_b, measles, under-five_deaths, tota...",20232.310088,411.163987,3293.992060,0.774412
218322,12,19639.481723,0.776605,"(hepatitis_b, measles, polio, total_expenditur...",20166.842608,412.231524,3294.791138,0.774256
218323,12,21385.140043,0.756749,"(hepatitis_b, bmi, under-five_deaths, polio, t...",22014.169101,549.313008,3393.059289,0.754190
218324,12,21068.531650,0.760350,"(hepatitis_b, bmi, under-five_deaths, polio, t...",21628.267580,524.450669,3375.846509,0.757830
218325,12,19178.393357,0.781850,"(hepatitis_b, bmi, under-five_deaths, polio, t...",19714.138774,376.023592,3267.374851,0.779556
218326,12,19149.475247,0.782179,"(hepatitis_b, bmi, under-five_deaths, polio, t...",19688.603408,373.752737,3265.633481,0.779888
218327,12,19189.547209,0.781723,"(hepatitis_b, bmi, under-five_deaths, polio, t...",19726.327911,376.899472,3268.045805,0.779427
218328,12,19834.165122,0.774391,"(hepatitis_b, bmi, under-five_deaths, polio, t...",20408.348559,427.519447,3306.174250,0.772018
218329,12,33899.160440,0.614404,"(hepatitis_b, bmi, under-five_deaths, polio, t...",34759.595942,1532.002725,3924.700117,0.610349
218330,12,19228.356047,0.781282,"(hepatitis_b, bmi, under-five_deaths, polio, t...",19767.362955,379.947017,3270.377291,0.778981
218331,12,19195.713361,0.781653,"(hepatitis_b, bmi, under-five_deaths, polio, d...",19726.886034,377.383682,3268.416558,0.779356
218332,12,19283.497825,0.780654,"(hepatitis_b, bmi, under-five_deaths, total_ex...",19833.067760,384.277141,3273.681918,0.778347
218333,12,19203.903240,0.781560,"(hepatitis_b, bmi, polio, total_expenditure, d...",19704.986931,378.026809,3268.908809,0.779262
218334,12,19590.670583,0.777160,"(hepatitis_b, under-five_deaths, polio, total_...",20161.475783,408.398527,3291.919465,0.774817
218335,12,21301.617445,0.757699,"(measles, bmi, under-five_deaths, polio, total...",21953.748167,542.754220,3388.543359,0.755150
218336,12,20950.496090,0.761693,"(measles, bmi, under-five_deaths, polio, total...",21545.560664,515.181679,3369.363094,0.759186
218337,12,19064.551573,0.783145,"(measles, bmi, under-five_deaths, polio, total...",19625.663071,367.083927,3260.504366,0.780864
218338,12,19043.410012,0.783385,"(measles, bmi, under-five_deaths, polio, total...",19607.108832,365.423742,3259.223932,0.781107
218339,12,19101.813226,0.782721,"(measles, bmi, under-five_deaths, polio, total...",19654.574367,370.009977,3262.757657,0.780436
218340,12,19769.838624,0.775122,"(measles, bmi, under-five_deaths, polio, total...",20366.278329,422.468073,3302.425496,0.772757
218341,12,33766.138340,0.615917,"(measles, bmi, under-five_deaths, polio, total...",34693.469921,1521.556886,3920.162851,0.611878
218342,12,19085.526303,0.782906,"(measles, bmi, under-five_deaths, polio, total...",19653.451699,368.731012,3261.773293,0.780623
218343,12,19093.548424,0.782815,"(measles, bmi, under-five_deaths, polio, dipht...",19651.997100,369.360966,3262.258246,0.780531
218344,12,19144.271306,0.782238,"(measles, bmi, under-five_deaths, total_expend...",19720.409231,373.344087,3265.319835,0.779948
218345,12,19171.140615,0.781932,"(measles, bmi, polio, total_expenditure, dipht...",19679.825512,375.454056,3266.938358,0.779639
218346,12,19521.613201,0.777946,"(measles, under-five_deaths, polio, total_expe...",20118.837333,402.975651,3287.844413,0.775610
218347,12,19183.986986,0.781786,"(bmi, under-five_deaths, polio, total_expendit...",19726.366489,376.462844,3267.711382,0.779491

In [74]:
df.to_csv("results.cvs")

In [75]:
df.sort_values(by="PRESS").head(3)

,numb_features,RSS,R_squared,features,PRESS,C_p,AIC,R_squared_adj
170709,12,14806.325615,0.831581,"(status, adult_mortality, infant_deaths, alcoh...",15200.825245,32.697796,2968.800658,0.829810
170710,12,14806.064061,0.831584,"(status, adult_mortality, infant_deaths, alcoh...",15200.926468,32.677257,2968.780273,0.829813
170815,12,14812.595592,0.831510,"(status, adult_mortality, infant_deaths, alcoh...",15206.618220,33.190159,2969.289235,0.829738

In [76]:
df.sort_values(by="C_p").head(3)

,numb_features,RSS,R_squared,features,PRESS,C_p,AIC,R_squared_adj
170710,12,14806.064061,0.831584,"(status, adult_mortality, infant_deaths, alcoh...",15200.926468,32.677257,2968.780273,0.829813
170709,12,14806.325615,0.831581,"(status, adult_mortality, infant_deaths, alcoh...",15200.825245,32.697796,2968.800658,0.829810
170815,12,14812.595592,0.831510,"(status, adult_mortality, infant_deaths, alcoh...",15206.618220,33.190159,2969.289235,0.829738

In [77]:
df.sort_values(by="AIC").head(3)

,numb_features,RSS,R_squared,features,PRESS,C_p,AIC,R_squared_adj
170710,12,14806.064061,0.831584,"(status, adult_mortality, infant_deaths, alcoh...",15200.926468,32.677257,2968.780273,0.829813
170709,12,14806.325615,0.831581,"(status, adult_mortality, infant_deaths, alcoh...",15200.825245,32.697796,2968.800658,0.829810
170815,12,14812.595592,0.831510,"(status, adult_mortality, infant_deaths, alcoh...",15206.618220,33.190159,2969.289235,0.829738

In [78]:
df.sort_values(by="R_squared_adj",ascending=False).head(3)

,numb_features,RSS,R_squared,features,PRESS,C_p,AIC,R_squared_adj
170710,12,14806.064061,0.831584,"(status, adult_mortality, infant_deaths, alcoh...",15200.926468,32.677257,2968.780273,0.829813
170709,12,14806.325615,0.831581,"(status, adult_mortality, infant_deaths, alcoh...",15200.825245,32.697796,2968.800658,0.829810
170815,12,14812.595592,0.831510,"(status, adult_mortality, infant_deaths, alcoh...",15206.618220,33.190159,2969.289235,0.829738

In [79]:
df.iloc[170710]["features"]

('status',
 'adult_mortality',
 'infant_deaths',
 'alcohol',
 'percentage_expenditure',
 'bmi',
 'under-five_deaths',
 'polio',
 'hiv/aids',
 'thinness_5-9_years',
 'income_composition_of_resources',
 'schooling')